<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define PolyDoc_TargetDir=$(var.PolyDoc.TargetDir)?>
	<Product Id="8cf29d7d-0c64-4778-a5d7-84873d4abd81" Name="PolyDoc Archiving Software" Language="1033" Version="2.0.0.0" Manufacturer="Polygon Network Company" UpgradeCode="e786b7f8-9ad8-4991-af85-216c7d05291c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <Icon Id="PolyDocLogo.ico" SourceFile="$(var.ProjectDir)PolyDocLogo.ico" />
    <Property Id="ARPPRODUCTICON" Value="PolyDocLogo.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <WixVariable Id="WixUIBannerBmp" Value="Images\poli low.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Images\logo2 - Copy.bmp" />
     
    <UI>
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of PolyDoc Archiving Software is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="PolyDoc Archiving Software" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="PolyDoc Archiving Software" />
			</Directory>
        <Directory Id="ProgramMenuFolder">
          <Directory Id="ApplicationProgramsFolder" Name="PolyDoc Archiving Software" />
        </Directory>
          <Directory Id="DesktopFolder" Name="Desktop" />
		    </Directory>
	</Fragment>
  <Fragment>
  <DirectoryRef Id="ApplicationProgramsFolder">
    <Component Id="ApplicationShortcut" Guid="9bd13330-6540-406f-a3a8-d7f7c69ae7f9">
      <Shortcut Id="ApplicationStartMenuShortcut" Name="PolyDoc Archiving Software" Description="PolyDoc Archiving Software" Target="[INSTALLFOLDER]PolyDoc.exe" WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\PolyDoc Archiving Software" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </DirectoryRef>
  <DirectoryRef Id="DesktopFolder">
   <Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
     <Shortcut Id="ApplicationDesktopShortcut" Name="PolyDoc Archiving Software" Description="PolyDoc Archiving Software" Target="[INSTALLFOLDER]PolyDoc.exe" WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\PolyDoc Archiving Software" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </DirectoryRef>
</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
		<Component Id="PolyDocLogo.ico" Guid="3d27a1f8-d642-4511-8156-b9dfeedcea91">
		  <File Id="PolyDocLogo.ico" Name="PolyDocLogo.ico" Source="$(var.PolyDoc_TargetDir)PolyDocLogo.ico" />
		</Component>
		<Component Id="Cjwdev.WindowsApi.xml" Guid="7ff14312-e833-4ee1-9476-aeeb0beee673">
		  <File Id="Cjwdev.WindowsApi.xml" Name="Cjwdev.WindowsApi.xml" Source="$(var.PolyDoc_TargetDir)Cjwdev.WindowsApi.xml" />
		</Component>
		<Component Id="PolyDoc.exe" Guid="11cff5be-3dd5-4aa2-9df6-514b01f3a886">
		  <File Id="PolyDoc.exe" Name="PolyDoc.exe" Source="$(var.PolyDoc_TargetDir)PolyDoc.exe" />
		</Component>
		<Component Id="PolyDoc.exe.config" Guid="7bfdf5bb-073d-48db-a7f7-bc0dd09adacc">
		  <File Id="PolyDoc.exe.config" Name="PolyDoc.exe.config" Source="$(var.PolyDoc_TargetDir)PolyDoc.exe.config" />
		</Component>
		<Component Id="PolyDoc.pdb" Guid="b6b7ff17-b9f4-42b0-8d40-5732e2a58b6c">
		  <File Id="PolyDoc.pdb" Name="PolyDoc.pdb" Source="$(var.PolyDoc_TargetDir)PolyDoc.pdb" />
		</Component>
			
		</ComponentGroup>
	</Fragment>
</Wix>
